body {
    background-image: url("assets/smokey_trees.jpeg");
  }
  
 h1, h2, p, .name, .email, .subject, .message {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000
  }
  
.jumbotron{
    background-color: rgb(34, 34, 34); 
}

.jumbotron h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff
}

.img-thumbnail {
    width: 100%;
   }