body {
    background-color: rgb(34, 34, 34);
}

.jumbotron{
    background-color: rgb(34, 34, 34); 
}

.jumbotron h1 {
    color: #ffffff
}

h1, h2, p {
    color: #ffffff
}

.img-thumbnail {
    width: 100%;
   }