body {
    background-image: url("assets/mountainside-scenery-with-large-green-pine-forest-in-jasper-national-park-alberta-canada.jpg");
  }
  
  h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff
  }
  
.jumbotron{
    background-color: rgb(34, 34, 34); 
}

.jumbotron h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff
}

.img-thumbnail {
    width: 100%;
   }

.name, .email, .subject, .message {
    color: #ffffff;
}
