/* Background Image */
body {
    background-image: url("assets/style/style.css");
    background-repeat: round;
}
/* Jumbotron Backgound Color */
 .jumbotron {
    background-color:transparent; 
}
/* Jumbotron Text Color White */
.jumbotron h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
 /*Content Text Color Black  */
 strong, h1, h2, p, .name, .email, .subject, .message {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
/* Thumbnail Photo Size */
.img-thumbnail {
    width: 100%;
}
/* @media screen and (max-width: 168px) {
    body {
        background-color: #000000;
     }
    .wrapper {    
        width: 100%;
        padding: 20px;
    }
} */