/* Background Image */
body {
    background-image: url("../images/tile_texturedBG.jpg");
    background-color: black;
    /* background-repeat: round; */
}

#header {
    padding-top: 20px;
}
 /*Content Text Color White  */
 strong, h1, h2, p, .name, .email, .subject, .message {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/* Thumbnail Photo Size
.img-thumbnail {ß
    width: 200px;
} */

#aboutMe { 
    padding-left: 20px;
}

#example_container, #example_container2, #example_container3 {
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.535);
}

#aboutMeContainer, #contactContent {
    background-color: rgb(0, 0, 0);
}

/* @media screen and (max-width: 168px) {
    body {
        background-color: #000000;
     }
    .wrapper {    
        width: 100%;
        padding: 20px;
    }
} */