/* Background Image */
body {
    background-image: url("../images/smokey_trees.jpeg");
    background-color: black;
    /* background-repeat: round; */
}
/* Jumbotron Backgound Color */
 .jumbotron {
    background-color:transparent; 
}
/* Jumbotron Text Color White */
.jumbotron h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
 /*Content Text Color Black  */
 strong, h1, h2, p, .name, .email, .subject, .message {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
/* Thumbnail Photo Size */
.img-thumbnail {
    width: 100%;
}

#aboutMe { 
    padding-left: 20px;
}

#example1 {
    padding-top: 20px;
}

#aboutMeContainer, #example1, #contactInfoSide {
    background-color: rgba(55, 54, 54, 0.57);
}
/* @media screen and (max-width: 168px) {
    body {
        background-color: #000000;
     }
    .wrapper {    
        width: 100%;
        padding: 20px;
    }
} */